{% load static %}

<head>
	<title>BizBook Directory Template by Rn53Themes.net</title>
	<!--== META TAGS ==-->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="theme-color" content="#76cef1" />
	<meta property="og:image" content="images/home/logo-b.png" />
	<meta name="description" content="Kick start your online directory with BizBook Directory Template. Its comes with ultimate features like listings, events, blog, community. Try Bizbook directory now!">
	<meta name="keyword" content="bizbook directory, bizbook directory template, business directory template, php directory template, functional php template, php listing template, php dirctory database, local listing php template">
	<!--== FAV ICON(BROWSER TAB ICON) ==-->
	<link rel="shortcut icon" href="images/fav.ico" type="image/x-icon">
	<!--== GOOGLE FONTS ==-->
	<link href="https://fonts.googleapis.com/css?family=Oswald:700|Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet">
	<!--== WEB ICON FONTS ==-->
	<link rel="preload" as="font" href="css/icon.woff2" type="font/woff2" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--== CSS FILES ==-->
    <link rel="stylesheet" href="{% static 'myapp/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/fonts.css' %}">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<section>
		<!-- Headbar -->
		<nav id="mainNavbar" class="navbar navbar-expand-lg fixed-top navbar-light">
			<div class="container">
			<!-- Logo -->
			<a class="navbar-brand" href="index.html">
				<img src="{% static 'myapp/images/logo.png' %}" alt="Logo" style="height: 50px;">
			</a>
			<!-- Menu -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
			  <ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Beranda</a></li>
				<li class="nav-item"><a class="nav-link" href="{% url 'taaruf' %}">Ta'aruf</a></li>
				<li class="nav-item"><a class="nav-link" href="{% url 'blog-posts' %}">Pra-Nikah</a></li>
				<li class="nav-item"><a class="nav-link" href="{% url 'all-products' %}">Mitra Nikah</a></li>
				<li class="nav-item"><a class="nav-link" href="{% url 'about' %}">Tentang Kami</a></li>
			  </ul>
			  <a class="btn btn-primary ml-3" href="">User</a>
			</div>
		  </div>
		</nav>
	<!-- END -->
	<!-- START -->
	<section class="eve-deta-pg py-5">
		<div class="container">
			<div class="eve-deta-pg-main">
				<div class="lhs">
					<div class="img">
						<img src="{% static 'myapp/images/gambar_pranikah.jpg' %}" class="card-img-top" alt="Pranikah">
					</div>
					<div class="head"> <span class="dat"><b>07</b> Jan</span>
						<h1>Pranikah eps 1</h1>
					</div>
				</div>
				<div class="rhs">
					<div class="list-rhs-form pglist-bg pglist-p-com">
						<div class="quote-pop">
							<h3>Ikuti Zoom ini!</h3>
							<div id="blog_detail_enq_success" class="log" style="display: none;">
								<p>Your Enquiry Is Submitted Successfully</p>
							</div>
							<div id="blog_detail_enq_same" class="log" style="display: none;">
								<p>You cannot make enquiry on your own blog</p>
							</div>
							<div id="blog_detail_enq_fail" class="log" style="display: none;">
								<p>Something Went Wrong!!!</p>
							</div>
							<form method="post" name="blog_detail_enquiry_form" id="blog_detail_enquiry_form">
								<input type="hidden" class="form-control" name="blog_id" value="17" placeholder="" required>
								<input type="hidden" class="form-control" name="listing_user_id" value="44" placeholder="" required>
								<input type="hidden" class="form-control" name="enquiry_sender_id" value="37" placeholder="" required>
								<input type="hidden" class="form-control" name="enquiry_source" value="Website" placeholder="" required>
								<div class="form-group">
									<input type="text" name="enquiry_name" value="Rn53 Themes" required="required" class="form-control" placeholder="Enter name*">
								</div>
								<div class="form-group">
									<input type="email" class="form-control" placeholder="Enter email*" required="required" value="rn53themes@gmail.com" name="enquiry_email" pattern="^[\w]{1,}[\w.+-]{0,}@[\w-]{2,}([.][a-zA-Z]{2,}|[.][\w-]{2,}[.][a-zA-Z]{2,})$" title="Invalid email address">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" value="5522114422" name="enquiry_mobile" placeholder="Enter mobile number *" pattern="[7-9]{1}[0-9]{9}" title="Phone number starting with 7-9 and remaing 9 digit with 0-9" required>
								</div>
								<div class="form-group">
									<textarea class="form-control" rows="3" name="enquiry_message" placeholder="Enter your query or message"></textarea>
								</div>
								<input type="hidden" id="source">
								<button type="submit" name="enquiry_submit" class="btn btn-primary">Pembayaran</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--END-->
	<!-- START -->
	<section class=" eve-deta-body blog-deta-body">
		<div class="container">
			<div class="eve-deta-body-main">
				<div class="lhs">
					<p>Pra-Nikah adalah langkah awal yang penting untuk memastikan kehidupan rumah tangga berjalan lancar. Dalam sesi ini, Anda akan mendapatkan wawasan tentang komunikasi, manajemen keuangan, dan persiapan mental untuk menghadapi kehidupan pernikahan.</p>
					<p>Peserta akan bergabung dalam sesi Zoom interaktif yang diisi oleh narasumber terpercaya. Setelah mengikuti sesi ini, peserta akan mendapatkan <strong>sertifikat resmi Pra-Nikah</strong>.</p>
					<p>Bergabunglah dengan kami pada <strong>tanggal 07 Januari</strong> untuk memulai langkah awal menuju pernikahan yang bahagia dan sukses.</p>
				</div>
			<div class="pro-bot-shar">
				<h4>Share this post</h4>
				<ul>
					<li>
						<div class="sh-pro-shar sh-pro-face"> <a target="_blank" href="https://www.facebook.com/sharer/sharer.html?u=blog/12-days-fitness-chanllege?src=facebook&quote=12 Days Fitness Chanllege">Facebook</a>
						</div>
					</li>
					<li>
						<div class="sh-pro-shar sh-pro-twi"> <a target="_blank" href="http://twitter.com/share?text=12 Days Fitness Chanllege&url=http%3A%2F%2Flocalhost%2Fdirectory%2Fbizbook%2Fblog%2F12-days-fitness-chanllege%3Fsrc%3Dtwitter">Twitter</a>
						</div>
					</li>
					<li>
						<div class="sh-pro-shar sh-pro-what"> <a target="_blank" href="whatsapp://send?text=http%3A%2F%2Flocalhost%2Fdirectory%2Fbizbook%2Fblog%2F12-days-fitness-chanllege%3Fsrc%3Dwhatsapp" data-action="share/whatsapp/share">WhatsApp</a>
						</div>
					</li>
					<li>
						<div class="sh-pro-shar sh-pro-link"> <a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url=http%3A%2F%2Flocalhost%2Fdirectory%2Fbizbook%2Fblog%2F12-days-fitness-chanllege%3Fsrc%3Dlinkedin">Linkedin</a>
						</div>
					</li>
					<li>
						<div style="background-color: #da271a" class="sh-pro-shar sh-pro-pin"> <a target="_blank" href="https://www.pinterest.com/pin/create/bookmarklet/?media=images/blogs/6153pexels-photo-903171.jpeg&url=http%3A%2F%2Flocalhost%2Fdirectory%2Fbizbook%2Fblog%2F12-days-fitness-chanllege%26%26src%3Dpinterest&description=12 Days Fitness Chanllege">Pinterest</a>
						</div>
					</li>
				</ul>
			</div>
		
	</section>
	<!--END-->
	<!-- START -->
	
	<!-- END -->
	    <!-- Footer -->
		<section class="wed-hom-footer">
			<div class="container">
				<div class="row foot-supp">
					<h2><span>Email:</span> support@etamkawin.com</h2>
				</div>
				<div class="row wed-foot-link">
					<div class="col-md-6 foot-tc-mar-t-o">
						<h4>Kategori Populer</h4>
						<ul>
							<li><a href="all-product.html">Vendor Dekorasi</a></li>
							<li><a href="all-product.html">Layanan Dokumentasi</a></li>
							<li><a href="all-product.html">Katering Pernikahan</a></li>
							<li><a href="all-product.html">Wedding Organizer</a></li>
							<li><a href="all-product.html">Souvenir Pernikahan</a></li>
						</ul>
					</div>
					<div class="col-md-6">
						<h4>Help & Support</h4>
						<ul>
							<li><a href="about.html">Tentang Kami</a></li>
							<li><a href="faq.html">FAQ</a></li>
							<li><a href="feedback.html">Berikan Feedback</a></li>
							<li><a href="contact-us.html">Hubungi Kami</a></li>
						</ul>
					</div>
				</div>
				<div class="row foot-count">
					<p>Copyright © 2023 <a href="https://mustdhiya.com/" target="_blank">Startup Mustdhiya</a>. Powered by EKA (Etam Kawin).</p>
				</div>
			</div>
		</section>
	
	<!-- END -->
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="js/jquery.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/custom.js"></script>
	<script>
        window.addEventListener('DOMContentLoaded', function () {
          const navbar = document.getElementById('mainNavbar');
          navbar.classList.add('scrolled'); // Tambahkan kelas scrolled secara permanen
        });
      </script>
</body>

</html>