<!doctype html>
{% load static %}

<html lang="en">

<head>
	<title>BizBook Directory Template by Rn53Themes.net</title>
	<!--== META TAGS ==-->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="theme-color" content="#76cef1" />
	<meta property="og:image" content="images/home/logo-b.png" />
	<meta name="description" content="Kick start your online directory with BizBook Directory Template. Its comes with ultimate features like listings, events, blog, community. Try Bizbook directory now!">
	<meta name="keyword" content="bizbook directory, bizbook directory template, business directory template, php directory template, functional php template, php listing template, php dirctory database, local listing php template">
	<!--== FAV ICON(BROWSER TAB ICON) ==-->
	<link rel="shortcut icon" href="images/fav.ico" type="image/x-icon">
	<!--== GOOGLE FONTS ==-->
	<link href="https://fonts.googleapis.com/css?family=Oswald:700|Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet">
	<!--== WEB ICON FONTS ==-->
	<link rel="preload" as="font" href="css/icon.woff2" type="font/woff2" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--== CSS FILES ==-->
    <link rel="stylesheet" href="{% static 'myapp/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/fonts.css' %}">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
	<!--    Google Analytics Code Starts-->
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-90614514-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		
		  gtag('config', 'UA-90614514-2');
	</script>
	<!--    Google Analytics Code Ends-->
</head>

<body>
	<!-- Preloader -->
	<div id="preloader">
		<div id="status">&nbsp;</div>
	</div>
	<!-- START -->
	<section>
		<div class="str">
			<div>
				<div class="hom-top">
					<div class="container">
						<div class="row">
							<div class="hom-nav  db-open ">
								<!--MOBILE MENU-->
								<!--<div class="menu">
                                <i class="material-icons mopen">menu</i>
                            </div>-->
								<a href="index.html" class="top-log">
									<img src="images/home/logo-b.png" alt="" class="ic-logo">
								</a>
								<div class="menu">
									<h4>All Category</h4>
								</div>
								<div class="pop-menu">
									<div class="container">
										<div class="row"> <i class="material-icons clopme">close</i>
											<div class="pmenu-spri">
												<ul>
													<li>
														<a href="all-category.html" class="act">
															<img src="images/icon/shop.png">All Services</a>
													</li>
													<li>
														<a href="events.html">
															<img src="images/icon/calendar.png">Events</a>
													</li>
													<li>
														<a href="all-products.html">
															<img src="images/icon/cart.png">Products</a>
													</li>
													<li>
														<a href="coupons.html">
															<img src="images/icon/coupons.png">Coupon & deals</a>
													</li>
													<li>
														<a href="blog-posts.html">
															<img src="images/icon/blog1.png">Blogs</a>
													</li>
													<li>
														<a href="community.html">
															<img src="images/icon/11.png">Community</a>
													</li>
												</ul>
											</div>
											<div class="pmenu-cat">
												<h4>All Categories</h4>
												<input type="text" id="pg-sear" placeholder="Search category">
												<ul id="pg-resu">
													<li><a href="all-listing.html">Wedding halls - <span>04</span></a>
													</li>
													<li><a href="all-listing.html">Hotel & Food - <span>01</span></a>
													</li>
													<li><a href="all-listing.html">Pet shop - <span>12</span></a>
													</li>
													<li><a href="all-listing.html">Digital Products - <span>31</span></a>
													</li>
													<li><a href="all-listing.html">Spa and Facial - <span>10</span></a>
													</li>
													<li><a href="all-listing.html">Real Estate - <span>23</span></a>
													</li>
													<li><a href="all-listing.html">Sports - <span>05</span></a>
													</li>
													<li><a href="all-listing.html">Education - <span>02</span></a>
													</li>
													<li><a href="all-listing.html">Electricals - <span>05</span></a>
													</li>
													<li><a href="all-listing.html">Automobiles - <span>06</span></a>
													</li>
													<li><a href="all-listing.html">Transportation - <span>02</span></a>
													</li>
													<li><a href="all-listing.html">Hospitals - <span>08</span></a>
													</li>
													<li><a href="all-listing.html">Hotels And Resorts - <span>09</span></a>
													</li>
												</ul>
											</div>
											<div class="dir-home-nav-bot">
												<ul>
													<li>A few reasons you’ll love Online Business Directory <span>Call us on: +01 6214 6548</span> 
													</li>
													<li><a href="post-your-ads.html.html" class="waves-effect waves-light btn-large"><i class="material-icons">font_download</i> Advertise with us</a>
													</li>
													<li>
														<a href="pricing-details.html.html" class="waves-effect waves-light btn-large"> <i class="material-icons">store</i> Add your business</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<!--END MOBILE MENU-->
								<div class="top-ser">
									<form name="filter_form" id="filter_form" class="filter_form">
										<ul>
											<li class="sr-sea">
												<!--                                            <input type="text"  id="-->
												<!--" class="autocomplete"-->
												<!--                                                   placeholder="-->
												<!--">-->
												<input type="text" autocomplete="off" id="top-select-search" placeholder="Search for services and business...">
												<ul id="tser-res1" class="tser-res tser-res2">
													<li>
														<div>
															<h4>The Royal Spa Center For Womens</h4>
															<span>No:2, 4th Avenue, Newyork, USA, Near to Airport</span>
															<a href="all-listing.html"></a>
														</div>
													</li>
													<li>
														<div>
															<h4>Real estate</h4>
															<span>Chennai, India</span>
															<a href="all-listing.html"></a>
														</div>
													</li>
													<li>
														<div>
															<h4>Education</h4>
															<span>Schools, university, colleges, online classes, tution centers, distance education..</span>
															<a href="all-listing.html"></a>
														</div>
													</li>
													<li>
														<div>
															<h4>Hotel and resort booking</h4>
															<span>hotel booking online, hotel reservation, holiday room booking</span>
															<a href="all-listing.html"></a>
														</div>
													</li>
													<li>
														<div>
															<h4>Import and export</h4>
															<span>Import and export to other countrys with low cost</span>
															<a href="all-listing.html"></a>
														</div>
													</li>
													<li>
														<div>
															<h4>Properties in Illunois</h4>
															<span>Villas, Plots, House rent and buy</span>
															<a href="all-listing.html"></a>
														</div>
													</li>
													<li>
														<div>
															<h4>Schools in Adyar</h4>
															<span>schools, adyar, education, </span>
															<a href="all-listing.html"></a>
														</div>
													</li>
													<li>
														<div>
															<h4>Laptop services near you</h4>
															<span>laptop services, computer services</span>
															<a href="all-listing.html"></a>
														</div>
													</li>
													<li>
														<div>
															<h4>Hospital and medical services near you</h4>
															<span>Hospital and medical services near you</span>
															<a href="all-listing.html"></a>
														</div>
													</li>
												</ul>
											</li>
											<li class="sbtn">
												<button type="button" class="btn btn-success" id="top_filter_submit"><i class="material-icons">&nbsp;</i>
												</button>
											</li>
										</ul>
									</form>
								</div>
								<div class="al">
									<div class="head-pro">
										<img src="images/user/62736rn53themes.png" alt=""> <b>Profile by</b>
										<br>
										<h4>Rn53 Themes</h4>
										<a href="dashboard.html" class="fclick"></a>
									</div>
									<div class="db-menu">
										<ul>
											<li>
												<a href="dashboard.html" class="db-lact">
													<img src="images/icon/dbl1.png" alt="" />My Dashboard</a>
											</li>
											<li>
												<a href="db-all-listing.html">
													<img src="images/icon/dbl7.png" alt="" />All Listings</a>
											</li>
											<li>
												<a href="add-listing-start.html" class="tz-lma">
													<img src="images/icon/dbl3.png" alt="" />Add New Listing</a>
											</li>
											<li>
												<a href="db-enquiry.html">
													<img src="images/icon/dbl14.png" alt="" />Lead enquiry</a>
											</li>
											<li>
												<a href="db-events.html">
													<img src="images/icon/dbl4.png" alt="" />Events</a>
											</li>
											<li>
												<a href="db-blog-posts.html">
													<img src="images/icon/dbl10.png" alt="" />Blog posts</a>
											</li>
											<li>
												<a href="db-review.html">
													<img src="images/icon/dbl13.png" alt="" />Reviews</a>
											</li>
											<li>
												<a href="db-my-profile.html">
													<img src="images/icon/dbl6.png" alt="" />My Profile</a>
											</li>
											<li>
												<a href="#">
													<img src="images/icon/dbl12.png" alt="" />Log Out</a>
											</li>
										</ul>
									</div>
								</div>
								<!--MOBILE MENU-->
								<div class="mob-menu">
									<div class="mob-me-ic"><i class="material-icons">menu</i>
									</div>
									<div class="mob-me-all">
										<div class="mob-me-clo"><i class="material-icons">close</i>
										</div>
										<div class="mv-pro ud-lhs-s1">
											<img src="images/user/62736rn53themes.png" alt="">
											<h4>Rn53 Themes</h4>
											<b>Join on 26, Mar 2021</b>
										</div>
										<div class="mv-pro-menu ud-lhs-s2">
											<ul>
												<li>
													<a href="dashboard.html" class="">
														<img src="images/icon/dbl1.png" alt="" />My Dashboard</a>
												</li>
												<li>
													<a href="db-all-listing.html" class="">
														<img src="images/icon/shop.png" alt="" />All Listings</a>
												</li>
												<li>
													<a href="add-listing-start.html">
														<img src="images/icon/dbl3.png" alt="" />Add New Listing</a>
												</li>
												<li>
													<a href="db-enquiry.html" class="">
														<img src="images/icon/tick.png" alt="" />Lead enquiry</a>
												</li>
												<li>
													<a href="db-products.html" class="">
														<img src="images/icon/cart.png" alt="" />All Products</a>
												</li>
												<li>
													<a href="db-events.html" class="">
														<img src="images/icon/calendar.png" alt="" />Events</a>
												</li>
												<li>
													<a href="db-blog-posts.html" class="">
														<img src="images/icon/blog1.png" alt="" />Blog posts</a>
												</li>
												<li>
													<a href="db-coupons.html" class="">
														<img src="images/icon/coupons.png" alt="" />Coupons</a>
												</li>
												<li>
													<a href="db-promote.html" class="">
														<img src="images/icon/promotion.png" alt="" />Promotions</a>
												</li>
												<li>
													<a href="db-seo.html" class="">
														<img src="images/icon/seo.png" alt="" />SEO</a>
												</li>
												<li>
													<a href="db-review.html" class="">
														<img src="images/icon/dbl13.png" alt="" />Reviews</a>
												</li>
												<li>
													<a href="db-message.html" class="">
														<img src="images/icon/dbl14.png" alt="" />Messages</a>
												</li>
												<li>
													<a href="db-my-profile.html" class="">
														<img src="images/icon/dbl6.png" alt="" />My Profile</a>
												</li>
												<li>
													<a href="db-like-listings.html" class="">
														<img src="images/icon/dbl15.png" alt="" />Liked Listings</a>
												</li>
												<li>
													<a href="db-followings.html" class="">
														<img src="images/icon/dbl18.png" alt="" />Followings</a>
												</li>
												<li>
													<a href="db-post-ads.html" class="">
														<img src="images/icon/dbl11.png" alt="" />Ad Summary</a>
												</li>
												<li>
													<a href="db-payment.html" class="">
														<img src="images/icon/dbl9.png" alt="">Payment & plan</a>
												</li>
												<li>
													<a href="db-invoice-all.html" class="">
														<img src="images/icon/dbl16.png" alt="" />Payment invoice</a>
												</li>
												<li>
													<a href="db-notifications.html" class="">
														<img src="images/icon/dbl19.png" alt="" />Notifications</a>
												</li>
												<li>
													<a href="how-to.html" class="" target="_blank">
														<img src="images/icon/dbl17.png" alt="" />How to's</a>
												</li>
												<li>
													<a href="db-setting.html" class="">
														<img src="images/icon/dbl210.png" alt="" />Setting</a>
												</li>
												<li>
													<a href="#">
														<img src="images/icon/dbl12.png" alt="" />Log Out</a>
												</li>
											</ul>
										</div>
										<div class="mv-cate">
											<h4>All Categories</h4>
											<ul>
												<li> <a href="all-listing.html">Wedding halls</a>
												</li>
												<li> <a href="all-listing.html">Hotel & Food</a>
												</li>
												<li> <a href="all-listing.html">Pet shop</a>
												</li>
												<li> <a href="all-listing.html">Digital Products</a>
												</li>
												<li> <a href="all-listing.html">Spa and Facial</a>
												</li>
												<li> <a href="all-listing.html">Real Estate</a>
												</li>
												<li> <a href="all-listing.html">Sports</a>
												</li>
												<li> <a href="all-listing.html">Education</a>
												</li>
												<li> <a href="all-listing.html">Electricals</a>
												</li>
												<li> <a href="all-listing.html">Automobiles</a>
												</li>
												<li> <a href="all-listing.html">Transportation</a>
												</li>
												<li> <a href="all-listing.html">Hospitals</a>
												</li>
												<li> <a href="all-listing.html">Hotels And Resorts</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!--END MOBILE MENU-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END -->
	<!-- START -->
	<section class=" con-us-map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12566588.694179254!2d-89.26650700000002!3d39.739318!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880b2d386f6e2619%3A0x7f15825064115956!2sIllinois%2C%20USA!5e0!3m2!1sen!2sin!4v1584780817502!5m2!1sen!2sin" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
	</section>
	<!--END-->
	<!-- START -->
	<section class=" con-us-loc">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="tit">
						<h2>Contact Us</h2>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="con-pg-addr ">
						<h4>Address:</h4>
						<h5>United States:</h5>
						<p>28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.</p>
						<h5>India:</h5>
						<p>28800 Orchard Lake Road, Suite 180 Farmington, Chennai, India</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="con-pg-info">
						<h4>Contact info:</h4>
						<ul>
							<li class="ic-pho">Support: +01 25414 6354</li>
							<li class="ic-pho">Enquiry: +01 9867 4326</li>
							<li class="ic-eml">Email: support@company.com</li>
							<li class="ic-eml">Email: support@company.com</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="con-pg-soc">
						<h4>Website & Social media:</h4>
						<ul>
							<li class="ic-man-web"><a href="#">www.website.com</a>
							</li>
							<li class="ic-man-fb"><a href="#">Facebook</a>
							</li>
							<li class="ic-man-tw"><a href="#">Twitter</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--END-->
	<!-- START -->
<span class="btn-ser-need-ani">Help & Support</span>
	<div class="ani-quo-form"> <i class="material-icons ani-req-clo">close</i>
		<div class="tit">
			<h3>What service do you need? <span>BizBook will help you</span></h3>
		</div>
		<div class="hom-col-req">
			<div id="home_slide_enq_success" class="log" style="display: none;">
				<p>Your Enquiry Is Submitted Successfully!!!</p>
			</div>
			<div id="home_slide_enq_fail" class="log" style="display: none;">
				<p>Something Went Wrong!!!</p>
			</div>
			<div id="home_slide_enq_same" class="log" style="display: none;">
				<p>You cannot make enquiry on your own listing</p>
			</div>
			<form name="home_slide_enquiry_form" id="home_slide_enquiry_form" method="post" enctype="multipart/form-data">
				<input type="hidden" class="form-control" name="listing_id" value="0" placeholder="" required>
				<input type="hidden" class="form-control" name="listing_user_id" value="0" placeholder="" required>
				<input type="hidden" class="form-control" name="enquiry_sender_id" value="" placeholder="" required>
				<input type="hidden" class="form-control" name="enquiry_source" value="Website" placeholder="" required>
				<div class="form-group">
					<input type="text" name="enquiry_name" value="" required="required" class="form-control" placeholder="Enter name*">
				</div>
				<div class="form-group">
					<input type="email" class="form-control" placeholder="Enter email*" required="required" value="" name="enquiry_email" pattern="^[\w]{1,}[\w.+-]{0,}@[\w-]{2,}([.][a-zA-Z]{2,}|[.][\w-]{2,}[.][a-zA-Z]{2,})$" title="Invalid email address">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" value="" name="enquiry_mobile" placeholder="Enter mobile number *" pattern="[7-9]{1}[0-9]{9}" title="Phone number starting with 7-9 and remaing 9 digit with 0-9" required="">
				</div>
				<div class="form-group">
					<select name="enquiry_category" id="enquiry_category" class="form-control">
						<option value="">Select Category</option>
						<option value="19">Wedding halls</option>
						<option value="18">Hotel & Food</option>
						<option value="17">Pet shop</option>
						<option value="16">Digital Products</option>
						<option value="15">Spa and Facial</option>
						<option value="10">Real Estate</option>
						<option value="8">Sports</option>
						<option value="7">Education</option>
						<option value="6">Electricals</option>
						<option value="5">Automobiles</option>
						<option value="3">Transportation</option>
						<option value="2">Hospitals</option>
						<option value="1">Hotels And Resorts</option>
					</select>
				</div>
				<div class="form-group">
					<textarea class="form-control" rows="3" name="enquiry_message" placeholder="Enter your query or message"></textarea>
				</div>
				<input type="hidden" id="source">
				<button type="submit" id="home_slide_enquiry_submit" name="home_slide_enquiry_submit" class="btn btn-primary">Submit Requirements</button>
			</form>
		</div>
	</div>
	<!-- END -->
	<!-- START -->
	<section>
		<div class="full-bot-book">
			<div class="container">
				<div class="row">
					<div class="bot-book">
						<div class="col-md-2 bb-img">
							<img src="images/idea.png" alt="">
						</div>
						<div class="col-md-7 bb-text">
							<h4>#1 Business Directory and Service Provider</h4>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
						</div>
						<div class="col-md-3 bb-link"> <a href="pricing-details.html">Add my business</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END -->
	<section class=" wed-hom-footer">
		<div class="container">
			<div class="row foot-supp">
				<h2><span>Free support:</span> +01 5426 24400 &nbsp;&nbsp;|&nbsp;&nbsp; <span>Email:</span> rn53themes@gmail.com</h2>
			</div>
			<div class="row wed-foot-link">
				<div class="col-md-4 foot-tc-mar-t-o">
					<h4>Top Category</h4>
					<ul>
						<li><a href="all-listing.html">Digital Products</a>
						</li>
						<li><a href="all-listing.html">Spa and Facial</a>
						</li>
						<li><a href="all-listing.html">Real Estate</a>
						</li>
						<li><a href="all-listing.html">Sports</a>
						</li>
						<li><a href="all-listing.html">Education</a>
						</li>
						<li><a href="all-listing.html">Electricals</a>
						</li>
						<li><a href="all-listing.html">Automobiles</a>
						</li>
						<li><a href="all-listing.html">Transportation</a>
						</li>
					</ul>
				</div>
				<div class="col-md-4">
					<h4>Trending Category</h4>
					<ul>
						<li><a href="all-listing.html">Hospitals</a>
						</li>
						<li><a href="all-listing.html">Hotels And Resorts</a>
						</li>
						<li><a href="all-listing.html">Automobiles</a>
						</li>
						<li><a href="all-listing.html">Hotels And Resorts</a>
						</li>
						<li><a href="all-listing.html">Real Estate</a>
						</li>
						<li><a href="all-listing.html">Sports</a>
						</li>
						<li><a href="all-listing.html">Education</a>
						</li>
						<li><a href="all-listing.html">Electricals</a>
						</li>
					</ul>
				</div>
				<div class="col-md-4">
					<h4>HELP &amp; SUPPORT</h4>
					<ul>
						<li><a href="about.html">About us</a>
						</li>
						<li><a href="faq.html">FAQ</a>
						</li>
						<li><a href="feedback.html">Feedback</a>
						</li>
						<li><a href="contact-us.html">Contact us</a>
						</li>
						<!--                    <li><a href="#">-->
						<!--</a>-->
						<!--                    </li>-->
					</ul>
				</div>
			</div>
			<!-- POPULAR TAGS -->
			<div class="row wed-foot-link-pop">
				<div class="col-md-12">
					<h4>Popular Tags</h4>
					<ul>
						<li><a href="all-listing.html">Wedding halls in London</a>
						</li>
						<li><a href="all-listing.html">Schools in Chennai</a>
						</li>
						<li><a href="dashboard.html">Schools in NewYork</a>
						</li>
						<li><a href="dashboard.html">Real estate in Illunois</a>
						</li>
						<li><a href="dashboard.html">Real estate in Chennai1</a>
						</li>
						<li><a href="dashboard.html">Enents in Tailand</a>
						</li>
						<li><a href="dashboard.html">Flat for rent in Melborn</a>
						</li>
						<li><a href="dashboard.html">Schools in NewYork</a>
						</li>
						<li><a href="dashboard.html">Real estate in Illunois</a>
						</li>
						<li><a href="dashboard.html">Real estate in Chennai1</a>
						</li>
						<li><a href="dashboard.html">Enents in Tailand</a>
						</li>
						<li><a href="dashboard.html">Flat for rent in Melborn</a>
						</li>
						<li><a href="dashboard.html">Schools in NewYork</a>
						</li>
						<li><a href="dashboard.html">Real estate in Illunois</a>
						</li>
						<li><a href="dashboard.html">Real estate in Chennai1</a>
						</li>
						<li><a href="dashboard.html">Enents in Tailand</a>
						</li>
						<li><a href="dashboard.html">Flat for rent in Melborn</a>
						</li>
						<li><a href="dashboard.html">Schools in NewYork</a>
						</li>
						<li><a href="dashboard.html">Real estate in Illunois</a>
						</li>
						<li><a href="dashboard.html">Real estate in Chennai1</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- POPULAR TAGS -->
			<div class="row wed-foot-link-1">
				<div class="col-md-4">
					<h4>Get In Touch</h4>
					<p>Address: 28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.</p>
					<p>Phone: <a href="tel:+01 5426 24400">+01 5426 24400</a>
					</p>
					<p>Email: <a href="mailto:rn53themes@gmail.com">rn53themes@gmail.com</a>
					</p>
				</div>
				<div class="col-md-4 fot-app">
					<h4>DOWNLOAD OUR FREE MOBILE APPS</h4>
					<ul>
						<li>
							<a href="">
								<img src="images/gstore.png" alt="">
							</a>
						</li>
						<li>
							<a href="">
								<img src="images/astore.png" alt="">
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-4 fot-soc">
					<h4>SOCIAL MEDIA</h4>
					<ul>
						<li>
							<a target="_blank" href="">
								<img src="images/social/1.png" alt="">
							</a>
						</li>
						<li>
							<a target="_blank" href="https://twitter.com/Google?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
								<img src="images/social/2.png" alt="">
							</a>
						</li>
						<li>
							<a target="_blank" href="https://www.facebook.com/Rn53themes-1956793534579530/">
								<img src="images/social/3.png" alt="">
							</a>
						</li>
						<li>
							<a target="_blank" href="">
								<img src="images/social/4.png" alt="">
							</a>
						</li>
						<li>
							<a target="_blank" href="">
								<img src="images/social/5.png" alt="">
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="row foot-count">
				<ul>
					<li><a target="_blank" href="http://www.domainname.au">Australia</a>
					</li>
					<li><a target="_blank" href="http://www.domainname.uk">UK</a>
					</li>
					<li><a target="_blank" href="http://www.domainname.usa">USA</a>
					</li>
					<li><a target="_blank" href="http://www.domainname.in">India</a>
					</li>
					<li><a target="_blank" href="http://www.domainname.ge">Germany</a>
					</li>
					<li><a target="_blank" href="http://www.domainname.ch">China</a>
					</li>
					<li><a target="_blank" href="http://www.domainname.fr">france</a>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<!-- START -->
	<section>
		<div class="cr">
			<div class="container">
				<div class="row">
					<p>Copyright © 2017-2021 <a href="https://rn53themes.net/" target="_blank">Rn53 Themes</a>. Proudly powered by <a href="https://rn53themes.net/" target="_blank">Rn53Themes.net</a>
					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- END -->
	<!-- START -->
	<div class="fqui-menu">
		<ul>
			<li>
				<a href="index.html">
					<img src="images/icon/home.png">Home</a>
			</li>
			<li><span class="mob-sear"><img src="images/icon/search1.png">Search</span>
			</li>
			<li>
				<a href="all-category.html" class="act">
					<img src="images/icon/shop.png">Services</a>
			</li>
			<li>
				<a href="events.html">
					<img src="images/icon/calendar.png">Events</a>
			</li>
			<li>
				<a href="all-products.html">
					<img src="images/icon/cart.png">Products</a>
			</li>
			<li>
				<a href="coupons.html">
					<img src="images/icon/coupons.png">Coupons</a>
			</li>
			<li>
				<a href="blog-posts.html">
					<img src="images/icon/blog1.png">Bolgs</a>
			</li>
			<li>
				<a href="community.html">
					<img src="images/icon/11.png">Community</a>
			</li>
			<li><span class="btn-ser-need-ani"><img src="images/icon/how1.png">Support</span>
			</li>
		</ul>
	</div>
	<!-- END -->
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="js/jquery.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/custom.js"></script>
	<script src="js/jquery.validate.min.js"></script>
	<script src="js/custom_validation.js"></script>
</body>

</html>