<!doctype html>
{% load static %}

<html lang="en">

<head>
	<title>BizBook Directory Template by Rn53Themes.net</title>
	<!--== META TAGS ==-->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="theme-color" content="#76cef1" />
	<meta property="og:image" content="images/home/logo-b.png" />
	<meta name="description" content="Kick start your online directory with BizBook Directory Template. Its comes with ultimate features like listings, events, blog, community. Try Bizbook directory now!">
	<meta name="keyword" content="bizbook directory, bizbook directory template, business directory template, php directory template, functional php template, php listing template, php dirctory database, local listing php template">
	<!--== FAV ICON(BROWSER TAB ICON) ==-->
	<link rel="shortcut icon" href="{% static 'myapp/images/logo.png' %}" type="image/x-icon">
	<!--== GOOGLE FONTS ==-->
	<link href="https://fonts.googleapis.com/css?family=Oswald:700|Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet">
	<!--== WEB ICON FONTS ==-->
	<link rel="preload" as="font" href="{% static 'myapp/css/icon.woff2'%}" type="font/woff2" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--== CSS FILES ==-->
	<link rel="stylesheet" href="{% static 'myapp/css/jquery-ui.css' %}">
	<link rel="stylesheet" href="{% static 'myapp/css/bootstrap.css'%}">
	<link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'myapp/css/fonts.css'%}">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<section>
		<!-- Headbar -->
		<nav id="mainNavbar" class="navbar navbar-expand-lg fixed-top navbar-light">
			<div class="container">
			<!-- Logo -->
			<a class="navbar-brand" href="{% url 'home' %}">
				<img src="{% static 'myapp/images/logo.png' %}" alt="Logo" style="height: 50px;">
			</a>
			<!-- Menu -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
			  <ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Beranda</a></li>
				<li class="nav-item"><a class="nav-link" href="{% url 'taaruf' %}">Ta'aruf</a></li>
				<li class="nav-item"><a class="nav-link" href="{% url 'blog-posts' %}">Pra-Nikah</a></li>
				<li class="nav-item"><a class="nav-link" href="{% url 'all-products' %}">Mitra Nikah</a></li>
				<li class="nav-item"><a class="nav-link" href="{% url 'about' %}">Tentang Kami</a></li>
			  </ul>
			  <a class="btn btn-primary ml-3" href="">User</a>
			</div>
		  </div>
		</nav>
	<!-- END -->
	<!-- START -->
	{% block content %}

	{% endblock %}
	<section class="wed-hom-footer">
		<div class="container">
			<!-- Informasi Kontak -->
			<div class="row foot-supp">
				<h2> &nbsp;&nbsp;|&nbsp;&nbsp; <span>Email:</span> support@etamkawin.com</h2>
			</div>
			<!-- Kategori Populer -->
			<div class="row wed-foot-link">
				<div class="col-md-6 foot-tc-mar-t-o">
					<h4>Kategori Populer</h4>
					<ul>
						<li><a href="{% url 'all-products' %}">Vendor Dekorasi</a></li>
						<li><a href="{% url 'all-products' %}">Layanan Dokumentasi</a></li>
						<li><a href="{% url 'all-products' %}">Katering Pernikahan</a></li>
						<li><a href="{% url 'all-products' %}">Wedding Organizer</a></li>
						<li><a href="{% url 'all-products' %}">Souvenir Pernikahan</a></li>
					</ul>
				</div>
				<div class="col-md-6">
					<h4>Help & Support</h4>
					<ul>
						<li><a href="about.html">Tentang Kami</a></li>
						<li><a href="faq.html">FAQ</a></li>
						<li><a href="feedback.html">Berikan Feedback</a></li>
						<li><a href="contact-us.html">Hubungi Kami</a></li>
					</ul>
				</div>
			</div>
			<!-- TAG Populer -->
			<div class="row wed-foot-link-pop">
				<div class="col-md-12">
					<h4>Tags Populer</h4>
					<ul>
						<li><a href="{% url 'all-products' %}">Dekorasi Pernikahan Samarinda</a></li>
						<li><a href="{% url 'all-products' %}">Katering Halal Terbaik</a></li>
						<li><a href="{% url 'all-products' %}">Jasa Fotografi Wedding</a></li>
						<li><a href="{% url 'all-products' %}">Wedding Organizer Terpercaya</a></li>
						<li><a href="{% url 'all-products' %}">Vendor Souvenir Unik</a></li>
					</ul>
				</div>
			</div>
			<!-- Informasi Perusahaan -->
			<div class="row wed-foot-link-1">
				<div class="col-md-4">
					<h4>Hubungi Kami</h4>
					<p>Alamat: Jl. Mawar Indah No. 123, Samarinda, Indonesia</p>
					<p>Telepon: <a href="tel:+62 812-3456-7890">+62 812-3456-7890</a></p>
					<p>Email: <a href="mailto:support@etamkawin.com">support@etamkawin.com</a></p>
				</div>
				<div class="col-md-4 fot-app">
					<h4>Unduh Aplikasi Mobile Kami</h4>
					<ul>
						<li><a href=""><img src="{% static 'myapp/images/gstore.png' %}" alt=""></a></li>
						<li><a href=""><img src="{% static 'myapp/images/astore.png' %}" alt=""></a></li>
					</ul>
				</div>
				<div class="col-md-4 fot-soc">
					<h4>Media Sosial</h4>
					<ul>
						<li><a target="_blank" href="https://facebook.com/etamkawin"><img
									src="{% static 'myapp/images/social/1.png' %}" alt=""></a></li>
						<li><a target="_blank" href="https://facebook.com/etamkawin"><img
									src="{% static 'myapp/images/social/2.png' %}" alt=""></a></li>
						<li><a target="_blank" href="https://facebook.com/etamkawin"><img
									src="{% static 'myapp/images/social/3.png' %}" alt=""></a></li>
					</ul>
				</div>
			</div>
			<!-- Hak Cipta -->
			<div class="row foot-count">
				<p>Copyright © 2023 <a href="https://mustdhiya.com/" target="_blank">Startup Mustdhiya</a>. Powered by
					EKA (Etam Kawin).</p>
			</div>
		</div>	
	</section>

	</section>
	<script src="{% static 'myapp/js/jquery.min.js'%}"></script>
	<script src="{% static 'myapp/js/popper.min.js'%}"></script>
	<script src="{% static 'myapp/js/bootstrap.min.js'%}"></script>
	<script src="{% static 'myapp/js/jquery-ui.js'%}"></script>
	<script src="{% static 'myapp/js/custom.js'%}"></script>
	<script src="{% static 'myapp/js/jquery.validate.min.js'%}"></script>
	<script src="{% static 'myapp/js/custom_validation.js'%}"></script>
	<script>
        window.addEventListener('DOMContentLoaded', function () {
          const navbar = document.getElementById('mainNavbar');
          navbar.classList.add('scrolled'); // Tambahkan kelas scrolled secara permanen
        });
      </script>
</body>

</html>