{% extends 'myapp/headfooter.html' %}
{% load static %}
{% block content %}
<!-- Gambar di Bawah Navbar -->
<div class="hom-head"
	style="background-image: url('{% static 'myapp/images/nikah.jpg' %}'); background-size: cover; background-position: center; height: 400px;">
	<div class="ban-tit">
		<h1><b>Bersama untuk Momen<br>Terindah dalam Hidup Anda</b></h1>
		<p>Kisah Cinta Anda Dimulai di Sini</p>
	</div>
</div>
<div class="container">
	<div class="row justify-content-center align-items-center text-center">
		<div class="col-md-4 mb-4">
			<div class="p-3 shadow rounded">
				<img src="{% static 'myapp/images/icon/1.png' %}" alt="Icon Ta'aruf" class="mb-3">
				<h4>Ta'aruf</h4>
				<p>Temukan pasangan yang sejalan dengan visi Anda melalui fitur ta'aruf yang aman, rahasia, dan
					Islami.</p>
				<a href="#taaruf.html" class="btn btn-primary">Explore Now</a>
			</div>
		</div>
		<div class="col-md-4 mb-4">
			<div class="p-3 shadow rounded">
				<img src="{% static 'myapp/images/icon/2.png' %}" alt="Icon Ta'aruf" class="mb-3">
				<h4>Pra-Nikah</h4>
				<p>Persiapkan perjalanan hidup bersama dengan layanan konseling pra-nikah, pelatihan komunikasi.
				</p>
				<a href="#blog-posts.html" class="btn btn-primary">Explore Now</a>
			</div>
		</div>
		<div class="col-md-4 mb-4">
			<div class="p-3 shadow rounded">
				<img src="{% static 'myapp/images/icon/3.png' %}" alt="Icon Ta'aruf" class="mb-3">
				<h4>Mitra Nikah</h4>
				<p>Pilih dari berbagai vendor terpercaya untuk memenuhi kebutuhan pernikahan Anda.</p>
				<a href="#all-products.html" class="btn btn-primary">Explore Now</a>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</div>
</div>
</section>
<!-- START -->
<section>
	<div class="str">
		<div class="container">
			<div class="row">
				<div class="home-tit">
					<h2><span>Vendor Populer</span>
						<p>Temukan berbagai vendor terpercaya untuk membantu merencanakan pernikahan impian Anda.</p>
				</div>
				<div class="land-pack">
					<ul>
						<li>
							<div class="land-pack-grid">
								<div class="land-pack-grid-img">
									<img src="{% static 'myapp/images/vendor1.jpg' %}" alt="">
								</div>
								<div class="land-pack-grid-text">
									<h4>Dummy <span class="dir-ho-cat">Dummy (1020)</span></h4>
								</div> <a href="all-products.html" class="land-pack-grid-btn">Dummy</a>
							</div>
						</li>
						<li>
							<div class="land-pack-grid">
								<div class="land-pack-grid-img">
									<img src="{% static 'myapp/images/vendor2.jpg' %}" alt="">
								</div>
								<div class="land-pack-grid-text">
									<h4>Dummy <span class="dir-ho-cat">Dummy (2010)</span></h4>
								</div> <a href="all-products.html" class="land-pack-grid-btn">Dummy</a>
							</div>
						</li>
						<li>
							<div class="land-pack-grid">
								<div class="land-pack-grid-img">
									<img src="{% static 'myapp/images/vendor3.jpg' %}" alt="">
								</div>
								<div class="land-pack-grid-text">
									<h4>Dummy<span class="dir-ho-cat">Show All (970)</span></h4>
								</div> <a href="all-products.html" class="land-pack-grid-btn">Dummy</a>
							</div>
						</li>
						<li>
							<div class="land-pack-grid">
								<div class="land-pack-grid-img">
									<img src="{% static 'myapp/images/vendor4.jpg' %}" alt="">
								</div>
								<div class="land-pack-grid-text">
									<h4>Dummy<span class="dir-ho-cat">Show All (658)</span></h4>
								</div> <a href="all-products.html" class="land-pack-grid-btn">Dummy</a>
							</div>
						</li>
						<li>
							<div class="land-pack-grid">
								<div class="land-pack-grid-img">
									<img src="{% static 'myapp/images/vendor5.jpg' %}" alt="">
								</div>
								<div class="land-pack-grid-text">
									<h4>Dummy<span class="dir-ho-cat">Show All (926)</span></h4>
								</div> <a href="all-products.html" class="land-pack-grid-btn">Dummy</a>
							</div>
						</li>
						<li>
							<div class="land-pack-grid">
								<div class="land-pack-grid-img">
									<img src="{% static 'myapp/images/vendor6.jpg' %}" alt="">
								</div>
								<div class="land-pack-grid-text">
									<h4>Dummy<span class="dir-ho-cat">Show All (1400)</span></h4>
								</div> <a href="all-products.html" class="land-pack-grid-btn">Dummy</a>
							</div>
						</li>
						<li>
							<div class="land-pack-grid">
								<div class="land-pack-grid-img">
									<img src="{% static 'myapp/images/vendor7.jpg' %}" alt="">
								</div>
								<div class="land-pack-grid-text">
									<h4>Dummy<span class="dir-ho-cat">Show All (1360)</span></h4>
								</div> <a href="all-products.html" class="land-pack-grid-btn">Dummy</a>
							</div>
						</li>
						<li>
							<div class="land-pack-grid">
								<div class="land-pack-grid-img">
									<img src="{% static 'myapp/images/vendor8.jpg' %}" alt="">
								</div>
								<div class="land-pack-grid-text">
									<h4>Dummy<span class="dir-ho-cat">Show All (1960)</span></h4>
								</div> <a href="all-products.html" class="land-pack-grid-btn">Dummy</a>
							</div>
						</li>
					</ul> <a href="all-products.html" class="more">Lihat Semua</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="how-wrks py-5">
	<div class="container">
		<div class="home-tit text-center mb-4">
			<h2><span>Keunggulan Website Kami</span></h2>
			<p>Kami hadir untuk mempermudah perencanaan pernikahan Anda dengan layanan unggulan.</p>
		</div>
		<div class="row g-4">
			<!-- Keunggulan 1 -->
			<div class="col-md-3">
				<div class="card text-center h-100 shadow animate-box">
					<div class="card-body">
						<div class="circle-icon mb-3">
							<img src="{% static 'myapp/images/icon_taaruf.png' %}" alt="Ta'aruf" class="img-fluid"
								style="width: 60px;">
						</div>
						<h5 class="card-title">Proses Ta'aruf</h5>
						<p class="card-text">Fasilitas ta'aruf Islami yang aman dan menjaga privasi Anda dalam mencari
							pasangan hidup.</p>
					</div>
				</div>
			</div>
			<!-- Keunggulan 2 -->
			<div class="col-md-3">
				<div class="card text-center h-100 shadow animate-box">
					<div class="card-body">
						<div class="circle-icon mb-3">
							<img src="{% static 'myapp/images/icon_sertifikat.png' %}" alt="Sertifikat Pra Nikah"
								class="img-fluid" style="width: 60px;">
						</div>
						<h5 class="card-title">Sertifikat Pra Nikah</h5>
						<p class="card-text">Ikuti pelatihan pra-nikah untuk mendapatkan sertifikat resmi yang diakui
							oleh KUA.</p>
					</div>
				</div>
			</div>
			<!-- Keunggulan 3 -->
			<div class="col-md-3">
				<div class="card text-center h-100 shadow animate-box">
					<div class="card-body">
						<div class="circle-icon mb-3">
							<img src="{% static 'myapp/images/icon_dokunikah.png' %}" alt="Dokumen Pernikahan"
								class="img-fluid" style="width: 60px;">
						</div>
						<h5 class="card-title">Dokumen Pernikahan</h5>
						<p class="card-text">Integrasi dengan Dukcapil dan KUA untuk mempermudah pengurusan dokumen
							nikah.</p>
					</div>
				</div>
			</div>
			<!-- Keunggulan 4 -->
			<div class="col-md-3">
				<div class="card text-center h-100 shadow animate-box">
					<div class="card-body">
						<div class="circle-icon mb-3">
							<img src="{% static 'myapp/images/icon_vendor.png' %}" alt="Vendor Terpercaya"
								class="img-fluid" style="width: 60px;">
						</div>
						<h5 class="card-title">Vendor Terpercaya</h5>
						<p class="card-text">Pilih dari berbagai vendor pernikahan terbaik sesuai kebutuhan dan lokasi
							Anda.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END -->
{% endblock %}