{% extends 'myapp/headfooter2.html' %}
{% load static %}
{% block content %}
	<section class="biz-pro">
		<div class="container">
			<div class="row">
				<!-- Vendor Images -->
				<div class="col-md-5 lhs">
					<div class="bpro-sli">
						<div id="vendorCarousel" class="carousel slide" data-ride="carousel">
							<!-- The slideshow -->
							<div class="carousel-inner">
								<div class="carousel-item active">
									<img src="{% static 'myapp/images/vendor3.jpg' %}" alt="Vendor Pernikahan 1" class="d-block w-100">
								</div>
								<div class="carousel-item">
									<img src="{% static 'myapp/images/vendor3.jpg' %}" alt="Vendor Pernikahan 2" class="d-block w-100">
								</div>
								<div class="carousel-item">
									<img src="{% static 'myapp/images/vendor3.jpg' %}" alt="Vendor Pernikahan 3" class="d-block w-100">
								</div>
							</div>
							<!-- Left and right controls -->
							<a class="carousel-control-prev" href="#vendorCarousel" data-slide="prev"> 
								<span class="carousel-control-prev-icon"></span>
							</a>
							<a class="carousel-control-next" href="#vendorCarousel" data-slide="next"> 
								<span class="carousel-control-next-icon"></span>
							</a>
						</div>
					</div>
					<div class="biz-pro-btn mt-3 text-center">
						<button type="button" style="background-color: #50c878; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#quoteModal">
							Dapatkan Penawaran
						</button>
						<a href="#" style="background-color: #76cef1; color: white; border: none; padding: 10px 20px; border-radius: 5px; text-decoration: none; display: inline-block; margin-left: 10px;">
							Hubungi Vendor
						</a>
					</div>
					
				</div>
				<!-- Vendor Details -->
				<div class="col-md-7 rhs">
					<div class="pro-pri-box">
						<div class="pro-pbox-2">
							<span class="veri badge badge-success">Terverifikasi</span>
							<h1>Diamond Hall Tenggarong</h1>
							<span class="rat badge badge-warning">4.5</span>
							<span class="pro-cost">Mulai dari Rp 12.000.000 <b class="pro-off">Diskon 10%</b></span>
						</div>
						<div class="pro-pbox-3 pro-pbox-com">
							<h4>Fasilitas Utama</h4>
							<ul>
								<li>Dekorasi mewah sesuai tema</li>
								<li>Kapastitas hingga 500 tamu</li>
								<li>Area parkir luas</li>
								<li>Sound system premium</li>
								<li>Layanan katering lengkap</li>
							</ul>
						</div>
						<div class="pro-pbox-4 pro-pbox-com">
							<h4>Deskripsi</h4>
							<p>Diamond Hall Tenggarong adalah tempat pernikahan terbaik di area Tenggarong dengan fasilitas mewah dan pelayanan profesional. Tempat ini dilengkapi dengan dekorasi modern, katering berkualitas, dan layanan teknis terbaik untuk memastikan momen spesial Anda berjalan sempurna.</p>
						</div>
						<div class="pro-pbox-5 pro-pbox-com">
							<h4>Spesifikasi</h4>
							<ul>
								<li><span class="pro-spe-li">Lokasi:</span><span class="pro-spe-po"> Tenggarong, Kalimantan Timur</span></li>
								<li><span class="pro-spe-li">Kapasitas:</span><span class="pro-spe-po"> Hingga 500 tamu</span></li>
								<li><span class="pro-spe-li">Layanan Tambahan:</span><span class="pro-spe-po"> Dokumentasi dan WO</span></li>
								<li><span class="pro-spe-li">Waktu Operasional:</span><span class="pro-spe-po"> 10:00 - 22:00</span></li>
								<li><span class="pro-spe-li">Fasilitas:</span><span class="pro-spe-po"> Parkir Luas, Dekorasi</span></li>
							</ul>
						</div>
						<div class="pro-pbox-7 pro-pbox-com">
							<h4>Tags</h4>
							<a href="#">Venue</a>
							<a href="#">Pernikahan</a>
							<a href="#">Dekorasi</a>
							<a href="#">Kalender</a>
							<a href="#">Vendor</a>
						</div>
						<div class="pro-pbox-6 pro-pbox-com position-relative text-center">
							<!-- Sampul -->
							<div class="cover-photo">
								<img src="images/cover.jpg" alt="Sampul Vendor" class="w-100 rounded" style="height: 150px; object-fit: cover;">
							</div>
						
							<!-- Foto Profil -->
							<div class="profile-photo" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
								<img src="images/user/3.jpg" alt="Vendor" class="rounded-circle border border-white" width="100">
							</div>
						
							<!-- Informasi Vendor -->
							<div class="mt-5">
								<h4>Claude D Dial</h4>
								<b>Bergabung sejak Januari 2020</b>
								<div class="mt-2">
									<a href="profile.html" target="_blank" class="btn btn-link text-primary">Lihat Profil</a>
								</div>
							</div>
						</div>
						
						
						
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!--END-->
	<!-- START -->
	<section class="eve-deta-body blog-deta-body">
		<div class="container">
			<div class="pro-bot-shar">
				<h4>Share this post</h4>
				<ul>
					<li>
						<div class="sh-pro-shar sh-pro-face">
							<a target="_blank" href="https://www.facebook.com/sharer/sharer.html?u=product/weight-loss-digital-products?src=facebook&quote=Weight loss digital products">
								<img src="images/social/3.png" alt="">Facebook</a>
						</div>
					</li>
					<li>
						<div class="sh-pro-shar sh-pro-twi">
							<a target="_blank" href="http://twitter.com/share?text=Weight loss digital products&url=http%3A%2F%2Flocalhost%2Fdirectory%2Fbizbook%2Fproduct%2Fweight-loss-digital-products%3Fsrc%3Dtwitter">
								<img src="images/social/2.png" alt="">Twitter</a>
						</div>
					</li>
					<li>
						<div class="sh-pro-shar sh-pro-what">
							<a target="_blank" href="whatsapp://send?text=http%3A%2F%2Flocalhost%2Fdirectory%2Fbizbook%2Fproduct%2Fweight-loss-digital-products%3Fsrc%3Dwhatsapp">
								<img src="images/social/6.png" alt="">WhatsApp</a>
						</div>
					</li>
					<li>
						<div class="sh-pro-shar sh-pro-link">
							<a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url=http%3A%2F%2Flocalhost%2Fdirectory%2Fbizbook%2Fproduct%2Fweight-loss-digital-products%26%26src%3Dlinkedin">
								<img src="images/social/1.png" alt="">Linkedin</a>
						</div>
					</li>
					<li>
						<div style="background-color: #da271a" class="sh-pro-shar sh-pro-pin">
							<a target="_blank" href="https://www.pinterest.com/pin/create/bookmarklet/?media=images/products/33804awesomebooks-new3.jpg&url=http%3A%2F%2Flocalhost%2Fdirectory%2Fbizbook%2Fproduct%2Fweight-loss-digital-products%26%26src%3Dpinterest&description=Weight loss digital products">
								<img src="images/social/9.png" alt="">Pinterest</a>
						</div>
					</li>
				</ul>
			</div>

	</section>
	<!-- END -->
	{% endblock %}